<!-- <ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Signature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="signature-container">
      <ion-card>
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
          (onEndEvent)="drawComplete()"></signature-pad>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="clearPad()">Clear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" expand="block" (click)="savePad()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <img src='{{ signatureImg }}' />
</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Signature Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="sendSignature()">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name" placeholder="Enter your name"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <div class="signature-container">
        <signature-pad [options]="signaturePadOptions"></signature-pad>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="clearSignature()">Clear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" expand="block" (click)="finishSignature()">Finish</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div *ngIf="signatureImg">
      <ion-card>
        <img [src]="signatureImg" alt="Signature Preview" />
      </ion-card>
    </div>

    <ion-button expand="block" color="primary" type="submit">Send Signature</ion-button>
  </form>
</ion-content>
