<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Signature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="signature-container">
      <ion-card>
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
          (onEndEvent)="drawComplete()"></signature-pad>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="clearPad()">Clear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" expand="block" (click)="savePad()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <img src='{{ signatureImg }}' />
</ion-content>